
body {
    font-family: "Marker Felt", fantasy;
    background-color: rgb(141, 206, 208);
    margin: 0; 
    padding: 0; 
    background-image: url('https://i.postimg.cc/rm2bbjCg/Untitled35-removebg-preview.png');
    image-rendering: auto;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    justify-content: center; 
    text-align: center; 
    margin-top: 20px; 
    margin-right: -450px;
    padding: 20px, 20px;
}

.header-container img {
    max-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2 {
    align-content: center;
    text-align: center;
}

form {
    text-align: center;
}

#login-button, #signup-button {
    float: right;
    padding: 10px, 10px;
    background-color: #2f84de;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 120px;
    height: 50px;
}

#login-button {
    margin-left: 20px;
    margin-right: 20px;
    right: 50px; 
  }
  
  #signup-button {
    margin-left: 200px;
    right: 200px; 
  }

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', sans-serif;
    font-weight: bold;

}

input[type="text"] {
    width: 15%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

#submit-button {
    padding: 10px 20px;
    background-color: #2f84de;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 5px;

}

#home-button {
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #2f84de;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 19px;
    width: 120px;
    height: 50px;
}

#submit-button:hover, #login-button:hover, #signup-button:hover, #home-button:hover {
    background-color: #6faae9;
}

#submit-button:active, #login-button:active, #signup-button:active {
    background-color: #6faae9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.hidden {
    display: none;
}

#attractionsContent {
    margin-top: 20px;
    max-width: 100%;
    margin: auto;
    column-count: 2;
    column-gap: 20px;
}

#attractionsContent p {
    margin-bottom: 10px;
}

.attraction {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1650px;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    break-inside: avoid;
    font-family: 'Trebuchet MS', sans-serif
}

#no-attractions-message {
    margin: auto;
    font-family:'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.attraction-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.attraction-address {
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

.attraction-description {
    margin-bottom: 20px;
    text-align: center;
}

.attraction-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
#loading-message {
    margin:auto;
    font-family:'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 768px) {
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 20px; 
    }
  
    h3 {
      font-size: 18px; 
    }

    .attraction {
      max-width: 100%; 
    }
  
    #attractionsContent {
      column-count: 1; 
    }
  
    #loading-message {
      font-size: 20px; 
    }
  
    #no-attractions-message {
      font-size: 30px; 
    }
  }