
body {
    font-family: "Marker Felt", fantasy;
    background-color: rgb(141, 206, 208);
    margin: 0; 
    padding: 0; 
    background-image: url('https://i.postimg.cc/rm2bbjCg/Untitled35-removebg-preview.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.header-container {
    margin-left: 500px;
    position: relative;
    display: flex;
    justify-content: center; 
    text-align: center; 
    margin-top: 20px; 
    padding: 20px, 20px;
}

.header-container img {
    max-width: 100px;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    text-align: center;
}

#login-button, #signup-button {
    padding: 10px, 10px;
    background-color: #2f84de;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 22px;
    width: 120px;
    height: 50px;
    top: 0;
}

#login-button {
    margin-left: 20px;
    margin-right: 20px;
    right: 50px; 
  }
  
  #signup-button {
    margin-left: 200px;
    right: 200px; 
  }

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 15%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#submit-button {
    padding: 10px 20px;
    background-color: #2f84de;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', sans-serif;
}

#submit-button:hover, #login-button:hover, #signup-button:hover {
    background-color: #6faae9;
}

#submit-button:active, #login-button:active, #signup-button:active {
    background-color: #6faae9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.hidden {
    display: none;
}

#itinerary {
    font-family: 'Trebuchet MS', sans-serif
}

#itineraryContent {
    margin-top: 20px;
    max-width: 100%;
    margin: auto;
    column-count: 2;
    column-gap: 20px;
}

#itineraryContent p {
    margin-bottom: 10px;
}

.attraction {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1650px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    break-inside: avoid;
    font-family: 'Trebuchet MS', sans-serif
}

.attraction-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.attraction-address {
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

.attraction-description {
    margin-bottom: 20px;
    text-align: center;
}

.attraction-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
#loading-message {
    margin:auto;
    font-family:'Trebuchet MS', sans-serif;
}
